# Build and Dependencies Folder
node_modules
dist

# Envinrolment Variables
.env
.env.local
.env.production
.env.development

# IDE configs
.vscode
.idea
.DS_Store

# Backend files
portfolio-backend/backend/.gitattributes
portfolio-backend/backend/.gitignore
portfolio-backend/backend/build.gradle
portfolio-backend/backend/gradle/
portfolio-backend/backend/gradlew
portfolio-backend/backend/gradlew.bat
portfolio-backend/backend/settings.gradle
portfolio-backend/backend/src/main/java/com/enzofischer/portfolio/PortfolioBackendApplication.java
portfolio-backend/backend/src/main/resources/
portfolio-backend/backend/src/test/