# Build and Dependencies Folder
node_modules
dist

# Envinrolment Variables
.env
.env.local
.env.production
.env.development

# IDE configs
.vscode
.idea
.DS_Store

# Backend files
portfolio-backend/backend/.gitattributes
portfolio-backend/backend/.gitignore
build/
out/

# Logs
*.log